@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&display=swap');
@import "flowbite/src/themes/default";

@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";


@layer base {
    body {
      @apply font-secondary text-secondary text-sm;
    }
  }

html {
    scroll-behavior: smooth;
}
    