<form name="contact" netlify>
    <p>
      <label>Name <input type="text" name="name" /></label>
    </p>
    <p>
      <label>Email <input type="email" name="email" /></label>
    </p>
    <input type="hidden" name="form-name" value="contact" />
    <p style="display:none">
    <label>No llenar: <input name="bot-field" /></label>
    <p>
      <button type="submit">Send</button>
    </p>
  </form>
  