---
import en from '../i18n/messages/en.json';
import es from '../i18n/messages/es.json';

const lang = Astro.url.pathname.includes('/es') ? 'es' : 'en';
const t = lang === 'es' ? es : en;
---

<section class="bg-white py-16" id="about">
    <div class="max-w-screen-lg mx-auto px-4 grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
      
      <!-- Texto -->
      <div>
        <h2 class="text-4xl md:text-5xl font-main mb-6 text-taupe">
          {t.about.title}
        </h2>
  
        <p class="mb-4 leading-relaxed">
          {t.about.subtitle}
        </p>
  
        <p class="leading-relaxed">
          {t.about.description}
        </p>
  
        <!-- Firma -->
        <img src="/assets/images/signature.webp" alt="Signature" class="h-32 w-auto" />
      </div>
  
      <!-- Imagen -->
      <div>
        <img
          src="/assets/images/about2.webp"
          alt="Gabriela with camera"
          class="rounded-lg object-cover w-full shadow-lg h-[350px]"
        />
      </div>
  
    </div>
  </section>
  