---
import Button from "./shared/Button.astro";


---

<section class="relative w-full h-screen overflow-hidden flex items-center justify-center text-center pt-16" id="hero">
  <!-- Video de fondo -->
  <video
    autoplay
    muted
    loop
    playsinline
    class="absolute top-0 left-0 w-full h-full object-cover z-0"
  >
    <source src="/assets/videos/hero.mp4" type="video/mp4" />
    Tu navegador no soporta el video HTML5.
  </video>

  <!-- Overlay negro -->
  <div class="absolute inset-0 bg-black bg-opacity-50 z-2"></div>

  <!-- Contenido -->
  <div class="relative z-3 text-white px-4 max-w-3xl">
    <h1 class="text-5xl md:text-7xl font-main ">
      Gabriela Villegas
    </h1>
    <h2 class="text-1xl font-secondary uppercase mb-6">
      Wedding Filmmaker
    </h2>

    <p class="text-xl md:text-2xl font-secondary">
      Capturing Unforgettable Moments.
    </p>
    <p class="text-lg text-accent font-secondary mb-8">
      Visual storytelling at every event.
    </p>

    <div class="flex flex-col md:flex-row justify-center items-center gap-4">
      <Button href="/portfolio" label="View portfolio" variant="primary"  fullWidth/>
      <Button href="/contact" label="book now" variant="secondary" fullWidth />
    </div>
  </div>
</section>
